.flightSearch {
    max-width: 100%;
    margin: 0 auto;
    color: black;
    background-color: white;
    height: 160px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-label{
    position: relative;
    font: optional;
    font-size: 14px;
    top: 17px;
    right: 50px;
    background-color: white;
    z-index: 10px;
    opacity: .5;
  }

  .btn{
    position: relative;
    top: -20px;
    background-color: orange;
  }