.heroContainer {
    background-image: url('../../../../assets/hero.png'); /* Update path if needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 96, 165);
  }
  
  .heroContent {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  